services:
  backend:
    extends:
      file: ./backend/compose.yaml
      service: backend
    env_file:
      - ./backend/.env
  frontend:
    extends:
      file: ./frontend/compose.yaml
      service: frontend
    build:
      context: ./frontend
      args:
        VITE_API_ORIGIN: http://localhost:3000
    depends_on:
      backend:
        condition: service_healthy
  postgres:
    extends:
      file: ./backend/compose.yaml
      service: postgres
